defaults
    mode http
    timeout http-keep-alive 10s
    timeout connect 5s
    timeout server 60s
    timeout client 30s
    timeout http-request 30s

backend web
    http-reuse always
    http-request cache-use foobar
    http-response cache-store foobar
    server web0 172.17.0.1:8080

frontend http
    bind *:1080
    timeout client 5s
    timeout http-request 10s
    default_backend web

cache foobar
    total-max-size 4
    max-age 30